// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #ddd3d3;

 body {
   background: $gray; // Using this variable
 }

 .banner {
  background: rgb(136, 120, 120);
  max-width: 400px;
  h1 {
    font-size: 50px;
  }
}
